{% extends "contacts/base.html" %}

{% block content %}
<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h3 class="mb-0">Log In</h3>
                </div>
                <div class="card-body">
                    <form action="{% url 'users:login' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group row">
                            <label form="{{ form.username.id_for_label }}" class="col-sm-3 col-form-label">Username:</label>
                            <div class="col-sm-9">
                                {{ form.username }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label form="{{ form.password.id_for_label }}" class="col-sm-3 col-form-label">Password:</label>
                            <div class="col-sm-9">
                                {{ form.password }}
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <button type="reset" class="btn btn-light">Reset</button>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-center">
                    <a href="{% url 'users:password_reset' %}">Forgot Password?</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}





