{% extends "contacts/base.html" %}

{% block content %}

<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h3 class="mb-0">Sign Up</h3>
                </div>
                <div class="card-body">
                    <p>Registration was successful.</p>
                </div>
                <div class="text-center">
                    <a href="/" class="btn btn-primary">Main page</a>
                    <a href="/users/login/" class="btn btn-secondary">Login</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


