{% extends "contacts/base.html" %}

{% load static %}
{% block carousel %}
<div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 5px;">
    <div class="row py-5">
        <div class="col-12 pt-lg-5 mt-lg-5 text-center">
            <h1 class="display-4 text-white animated zoomIn">Files</h1>
            <a href="{% url 'index' %}" class="h5 text-white">Home</a>
            <i class="far fa-circle text-white px-2"></i>
            <a href="{% url 'news_scraping:news_list' %}" class="h5 text-white">News</a>
        </div>
    </div>
</div>
{% endblock %}

{% load cloudinary %}
{% block title %}Upload a new file{% endblock %}
{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Upload a new file</h2>
    <div id='backend_upload'>
        <form action="{% url 'files:create' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ backend_form }}
            <br>
            <div align="center">Select the category: <select name="categories" required>
                {% for category in categories %}
                <option value="{{category.name}}">{{category.name}}</option>
                {% endfor %}
            </select><br>
            <button type="submit" class="btn btn-primary">Upload</button>
        </div>
        </form>
    </div>
    <br><br>
    <center><a href="/files" class="btn btn-light">Return to Files</a></center>
</div>
{% endblock %}
