{% extends "contacts/base.html" %}


{% load static %}
{% block carousel %}
<div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 5px;">
    <div class="row py-5">
        <div class="col-12 pt-lg-5 mt-lg-5 text-center">
            <h1 class="display-4 text-white animated zoomIn">Files</h1>
            <a href="{% url 'index' %}" class="h5 text-white">Home</a>
            <i class="far fa-circle text-white px-2"></i>
            <a href="{% url 'news_scraping:news_list' %}" class="h5 text-white">News</a>
        </div>
    </div>
</div>
{% endblock %}

{% block title %}Files{% endblock %}

{% block content %}
<div class="container mt-5">
    <h3 class="text-center mb-4">Files of the category {{ category.name }}</h3>
    <div class="list-group">
        {% for file in files %}
            <table><tr><td width="50%">
            <div class="list-group-item bg-light bg-gradient mb-2">
                {{ file.title }}
            </div></td><td width="50%">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'files:download' file.id %}" class="btn btn-primary">Download</a>
            </td></tr></table>
        {% endfor %}
    </div>
    <br>
    <div align="center">
        <a href="{% url 'files:create' %}" class="btn btn-primary">Upload a new file</a>
	<a href="/files/" class="btn btn-primary">All files</a>
        <a href="{% url 'files:categories' %}" class="btn btn-primary">Categories</a>
    </div>
</div>
{% endblock %}
