{% extends "contacts/base.html" %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Weather Forecast</h2>
    <form action="{% url 'weather:weather' %}" method="GET" class="mb-4">
        <div class="input-group">
            <input type="text" id="city" name="city" class="form-control" placeholder="Enter city name" required>
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary">Get Weather</button>
            </div>
        </div>
    </form>

    {% if weather %}
        <div class="card bg-light bg-gradient mb-2">
            <div class="card-body">
                <h5 class="card-title">Weather forecast for {{ city }}</h5>
                <p class="card-text">Time: {{ weather.time }}</p>
                <p class="card-text">Sky condition: {{ weather.title }}</p>
                <p class="card-text">Temperature (°C): {{ weather.temperature }}</p>
                <p class="card-text">Humidity (%): {{ weather.humidity }}</p>
                <p class="card-text">Wind speed (m/s): {{ weather.wind_speed }}</p>
                <p class="card-text">Wind direction: {{ weather.wind_dir }}</p>
            </div>
        </div>
    {% else %}
        <div class="alert alert-warning" role="alert">
            No weather data available for the specified city.
        </div>
    {% endif %}
</div>
{% endblock %}