{% extends "contacts/base.html" %}

{% load static %}
{% block carousel %}
<div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 5px;">
    <div class="row py-5">
        <div class="col-12 pt-lg-5 mt-lg-5 text-center">
            <h1 class="display-4 text-white animated zoomIn">Contacts</h1>
            <a href="{% url 'index' %}" class="h5 text-white">Home</a>
            <i class="far fa-circle text-white px-2"></i>
            <a href="{% url 'news_scraping:news_list' %}" class="h5 text-white">News</a>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Upcoming birthdays</h2>
    <form method="get" action="{% url 'contacts:birthdays' %}" class="mb-4">
        <input type="number" name="days_ahead" value="{{ request.GET.days_ahead }}" placeholder="Days ahead (default 1)" class="form-control mb-2">
        <button type="submit" class="btn btn-primary btn-block">Search</button> 
    </form>

    {% if birthdays %}
    <div class="list-group">
        {% for contact in birthdays %}
        <div class="list-group-item bg-light bg-gradient mb-2">
            <div>
                <h5>{{ contact.first_name }} {{ contact.last_name }}</h5>
                <p>Phone: {{ contact.phone_number }}</p>
                <small>{{ contact.birthday }}</small>
            </div>
            <p>
                {{ contact.email|truncatechars:30 }}
            </p>
            <a href="{% url 'contacts:update' contact.id %}" class="btn btn-secondary btn-block">Edit</a> 
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p class="mt-4">No upcoming birthdays found.</p>
    {% endif %}
</div>
{% endblock %}

