{% extends "contacts/base.html" %}

{% block title %}Create Note{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Create Note</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.title.label_tag }} {{ form.title }}
        {{ form.content.label_tag }} {{ form.content }}
        {{ form.tags.label_tag }} {{ form.tags }}
        <div style="color: red;">
            {{ form.non_field_errors }}
            {{ form.title.errors }}
            {{ form.content.errors }}
            {{ form.tags.errors }}
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="{% url 'notes:note_list' %}" class="btn btn-light">Return</a>
    </form>
</div>
{% endblock %}
